---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/BaseLayout.astro';
import SiteMeta from '../../components/SiteMeta.astro';

const projects = await getCollection('projects')
    .then(ps => (ps
        .filter(p => !p.data.hide)
        .sort((a, b) => a.data.order - b.data.order)
    ));

const pageTitle = "Project | Austin Poor";
const pageDescription = "Want to see some of the side-projects I've been working on? You can find them here!";

---
<Layout activeTab="projects" pageTitle={pageTitle} pageDescription={pageDescription}>
    <!-- Metadata -->
    <SiteMeta 
        slot="head"
        title={pageTitle}
        description={pageDescription}
        url="https://austinpoor.com/projects"
    />

    <!-- Content -->
    <div class="max-w-2xl mx-auto mb-12 text-neutral-900 dark:text-neutral-100">
        <h1 class="text-4xl sm:text-6xl font-bold text-center mb-4">
            Projects
        </h1>
        <p class="text-base text-center">
            Want to see what I've been working on?
        </p>
        <p class="text-base text-center">
            Check out some of my recent projects below.
        </p>
    </div>
    <div 
        class="
            container
            mx-auto 
            px-2
            grid 
            gap-2
            grid-cols-1
            sm:grid-cols-2
            lg:grid-cols-3
            grid-rows-auto 
            mb-48
            text-neutral-900 
            dark:text-neutral-100
        "
    >
        {projects.map(p => (
            <>
                <a 
                    href={p.data.href} 
                    class="
                        px-4
                        pt-4
                        pb-8
                        outline
                        sm:outline-none
                        outline-1
                        outline-slate-300
                        rounded-md
                        hover:bg-neutral-200
                        dark:hover:bg-neutral-800
                    "
                >
                    <h1 class="text-2xl font-semibold tracking-tight">
                        { p.data.title }
                    </h1>
                    <p class="text-base">
                        { p.data.description }
                    </p>
                </a>
            </>
        ))}
    </div>
</Layout>

